@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

:root {
  --purple: #000000;
  --blue: #000000;
  --red: #c0392b;
  --orange: #f39c12;
  --black: #333;
  --white: #fff;
  --light-color: #666;
  --light-white: #ccc;
  --light-bg: #f5f5f5;
  --border: 0.1rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

*::selection {
  background-color: var(--purple);
  color: var(--white);
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--purple);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--light-bg);
}

section {
  padding: 3rem 2rem;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: var(--blue);
  font-size: 4rem;
}

.empty {
  padding: 1.5rem;
  text-align: center;
  border: var(--border);
  background-color: var(--white);
  color: var(--red);
  font-size: 2rem;
}

.message {
  text-align: center;
  position: sticky;
  top: 0;
  margin: 0 auto;
  max-width: 30%;
  background-color: #ffebcb;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10000;
  gap: 1.5rem;
}
.information-book {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
}

.information-book .author,
.information-book .publisher,
.information-book .supplier,
.information-book .category {
  margin: 7px 0;
}

.information-book .author::before,
.information-book .publisher::before,
.information-book .supplier::before,
.information-book .category::before {
  content: "\2022"; /* Bullet point */
  color: #ff0000; /* Bullet point color */
  margin-right: 5px;
}

.information-book .author,
.information-book .publisher,
.information-book .supplier,
.information-book .category {
  font-size: 16px;
  color: #333;
}

/* Add additional styling as needed */

.message span {
  font-size: 2rem;
  color: var(--black);
}

.message i {
  cursor: pointer;
  color: var(--red);
  font-size: 2.5rem;
}

.message i:hover {
  transform: rotate(90deg);
}

.btn,
.option-btn,
.white-btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  cursor: pointer;
  color: var(--white);
  font-size: 1.8rem;
  border-radius: 0.5rem;
  text-transform: capitalize;
}

.btn:hover,
.option-btn:hover {
  background-color: var(--black);
}

.white-btn,
.btn {
  background-color: var(--purple);
}

.option-btn {
  background-color: var(--orange);
}

.white-btn:hover {
  background-color: var(--white);
  color: var(--black);
}

@keyframes fadeIn {
  0% {
    transform: translateY(1rem);
    opacity: 0.2s;
  }
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
}

.header .flex {
  display: flex;
  align-items: center;
  padding: 2rem;
  justify-content: space-between;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.header .flex .logo {
  font-size: 2.5rem;
  color: var(--black);
}

.header .flex .logo span {
  color: var(--purple);
}

.header .flex .navbar a {
  margin: 0 1rem;
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
}

.header .flex .navbar a:hover {
  color: var(--purple);
}

.header .flex .icons div {
  margin-left: 1.5rem;
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--black);
}

.header .flex .icons div:hover {
  color: var(--purple);
}

.header .flex .account-box {
  position: absolute;
  top: 120%;
  right: 2rem;
  width: 30rem;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  padding: 2rem;
  text-align: center;
  border-radius: 0.5rem;
  border: var(--border);
  background-color: var(--white);
  display: none;
  animation: fadeIn 0.2s linear;
}

.header .flex .account-box.active {
  display: inline-block;
}

.header .flex .account-box p {
  font-size: 2rem;
  color: var(--light-color);
  margin-bottom: 1.5rem;
}

.header .flex .account-box p span {
  color: #000000;
}

.header .flex .account-box .delete-btn {
  margin-top: 0;
}

.header .flex .account-box div {
  margin-top: 1.5rem;
  font-size: 2rem;
  color: var(--light-color);
}

.header .flex .account-box div a {
  color: var(--orange);
}

.header .flex .account-box div a:hover {
  text-decoration: underline;
}

#menu-btn {
  display: none;
}

.dashboard .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
  align-items: flex-start;
}

.dashboard .box-container .box {
  border-radius: 0.5rem;
  padding: 2rem;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border: var(--border);
  text-align: center;
}

.dashboard .box-container .box h3 {
  font-size: 5rem;
  color: var(--black);
}

.dashboard .box-container .box p {
  margin-top: 1.5rem;
  padding: 1.5rem;
  background-color: var(--light-bg);
  color: #000000;
  font-size: 2rem;
  border-radius: 0.5rem;
  border: var(--border);
}

.add-products form {
  background-color: var(--white);
  border-radius: 0.5rem;
  padding: 2rem;
  text-align: center;
  box-shadow: var(--box-shadow);
  border: var(--border);
  max-width: 50rem;
  margin: 0 auto;
}

.add-products form h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 1.5rem;
}

.add-products form .box {
  width: 100%;
  background-color: var(--light-bg);
  border-radius: 0.5rem;
  margin: 1rem 0;
  padding: 1.2rem 1.4rem;
  color: var(--black);
  font-size: 1.8rem;
  border: var(--border);
}

.show-products .box-container {
  display: grid;
  grid-template-columns: repeat(4, 30rem);
  justify-content: center;
  gap: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
  align-items: flex-start;
}

.show-products {
  padding-top: 0;
}

.show-products .box-container .box {
  text-align: center;
  padding: 2rem;
  border-radius: 0.5rem;
  border: var(--border);
  box-shadow: var(--box-shadow);
  background-color: var(--white);
}

.show-products .box-container .box img {
  height: 30rem;
}

.show-products .box-container .box .name {
  padding: 1rem 0;
  font-size: 2rem;
  color: var(--black);
}

.show-products .box-container .box .price {
  padding: 1rem 0;
  font-size: 2.5rem;
  color: var(--red);
}

.edit-product-form {
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1200;
  width: 100%;
}

.edit-product-form form {
  width: 90rem;
  padding: 2rem;
  text-align: center;
  border-radius: 0.5rem;
  background-color: var(--white);
  overflow-y: auto;
  max-height: 700px;
}

.edit-product-form form img {
  height: 20rem;
  margin-bottom: 1rem;
}

.edit-product-form form .box {
  margin: 1rem 0;
  padding: 1rem 1.3rem;
  border: var(--border);
  border-radius: 0.5rem;
  background-color: var(--light-bg);
  font-size: 1.8rem;
  color: var(--black);
  width: 100%;
}

.orders .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 40rem);
  justify-content: center;
  gap: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
  align-items: flex-start;
}

.orders .box-container .box {
  background-color: var(--white);
  padding: 2rem;
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
}

.orders .box-container .box p {
  padding-bottom: 1rem;
  font-size: 2rem;
  color: var(--light-color);
}
.orders .box-container .image-order {
  width: 40%;
  height: auto;
  border-radius: 5px;
  margin: 5px;
}
.image-prd-order {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.orders .box-container .box p span {
  color: var(--purple);
}

.orders .box-container .box form {
  text-align: center;
}

.orders .box-container .box form select {
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  width: 100%;
  background-color: var(--light-bg);
  border: var(--border);
  padding: 1.2rem 1.4rem;
  font-size: 1.8rem;
  color: var(--black);
}


.messages .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 35rem);
  justify-content: center;
  gap: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}

.messages .box-container .box {
  background-color: var(--white);
  padding: 2rem;
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
}

.messages .box-container .box p {
  padding-bottom: 1.5rem;
  font-size: 2rem;
  color: var(--light-color);
  line-height: 1.5;
}

.messages .box-container .box p span {
  color: var(--purple);
}

.messages .box-container .box .delete-btn {
  margin-top: 0;
}

/* media queries  */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .header .flex .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background-color: var(--white);
    border-top: var(--border);
    border-bottom: var(--border);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .flex .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .flex .navbar a {
    margin: 2rem;
    display: block;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .title {
    font-size: 3rem;
  }
}
.chart {
  display: flex;
  width: 100%;
  justify-content: center;
}
#doughnutChart {
  max-width: 500px;
  margin: 20px;
}
canvas {
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.title {
  font-size: 24px;
  text-align: center;
}
.reply-form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.reply-form textarea {
  resize: vertical;
  padding: 8px;
  margin-bottom: 8px;
}

.reply-form .submit-btn {
  padding: 8px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.reply-form .submit-btn:hover {
  background-color: #45a049;
}

.comments {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}
.comment-actions {
  display: flex;
  align-items: center;
}

/* Styles for Comment Reply Form */
.reply-form {
  margin-left: 10px; /* Adjust the margin as needed */
}

.reply-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  resize: vertical;
  background-color: #bebebe;
}

.reply-form input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.reply-form input[type="submit"]:hover {
  background-color: #45a049;
}

.box {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  padding: 15px;
  margin: 15px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.box p {
  margin: 0;
}

.id_user,
.name_user {
  font-weight: bold;
}

.name_user {
  color: #007bff; /* Màu mặc định cho tên người dùng */
  font-size: medium;
}

.nd_comment {
  margin-top: 10px;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
}
.empty {
  text-align: center;
  color: #777;
}
.edit-btn,
.block-btn {
  margin-top: 10px;
  display: inline-block;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.1s;
}

.edit-btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
.add-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  margin-bottom: 50px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.1s;
}

.add-btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.container_user {
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.user_add {
  text-align: center;
  max-width: 100%;
  font-family: "Segoe UI", sans-serif;
  background-color: #f5f5f5;
  top: 50%;
  left: 50%;
  transform: translate(110%, 0%);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 30%;
}
.inputGroup {
  font-family: "Segoe UI", sans-serif;
  margin: 1em 0 1em 0;
  max-width: 100%;
  position: relative;
}

.inputGroup input {
  font-size: 100%;
  padding: 1.5em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
}

.inputGroup label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}

.inputGroup :is(input:focus, input:valid) ~ label {
  transform: translateY(-50%) scale(0.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: #f5f5f5;
}

.inputGroup :is(input:focus, input:valid) {
  border-color: rgb(150, 150, 200);
}
.btn-user {
  width: 10.5em;
  height: 2.3em;
  margin: 0.5em;
  background: black;
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.btn-user:hover {
  color: black;
}

.btn-user:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.btn-user:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* edit-form */
.edit-user-container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.edit-user-title {
  font-size: 24px;
  margin: 0 0 20px;
}

.edit-user-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.edit-user-form input[type="text"],
.edit-user-form input[type="email"],
.edit-user-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.edit-user-form button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-user-form button:hover {
  background-color: #0056b3;
}
.edit-user-container a.cancel-btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
a.cancel-btn:hover {
  background-color: #9e2e2e;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead {
  background-color: #f2f2f2;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

/* Định dạng hình ảnh sản phẩm */
.image-order {
  max-width: 70px;
  max-height: 70px;
}

/* Định dạng cập nhật thanh toán dropdown và nút cập nhật */
select[name="update_payment"] {
  padding: 5px;
  border: 1px solid #ccc;
}
.custom-table {
  border-collapse: collapse;
  width: 100%;
}

.custom-table th,
.custom-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.custom-table th {
  background-color: #f2f2f2;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #ccc;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 20%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.reply-btn {
  cursor: pointer;
  color: #3498db;
}

.reply-btn:hover {
  text-decoration: underline;
}
section.show-prd {
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

thead {
  background-color: #3498db;
  color: #fff;
}

th,
td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  font-weight: 400;
  font-size: 12px;
}

td img {
  max-width: 80px;
  max-height: 80px;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: #3498db;
  margin-right: 10px;
}

a:hover {
  color: #2c3e50;
}

p {
  text-align: center;
  font-size: 18px;
  color: #333;
  margin-top: 20px;
}

/* Đối với màn hình nhỏ */

@media (max-width: 768px) {
  td,
  th {
    font-size: 14px;
  }

  td img {
    max-width: 60px;
    max-height: 60px;
  }
}
.product-actions {
  display: flex;
  justify-content: space-between;
}

.update-button,
.delete-button {
  display: inline-block;
  padding: 8px 12px;
  margin: 5px;
  text-decoration: none;
  border: 1px solid #3498db;
  color: #3498db;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.update-button:hover,
.delete-button:hover {
  background-color: #3498db;
  color: #fff;
}

.delete-button {
  border-color: #e74c3c;
  color: #e74c3c;
}

.delete-button:hover {
  background-color: #e74c3c;
  color: #fff;
}
.logout-btn {
  padding: 10px 15px;
  background-color: #ff0000; /* Màu đỏ */
  color: #fff; /* Màu chữ trắng */
  text-decoration: none;
  border-radius: 5px;
  
  margin-top: 5px;
}

.logout-btn:hover {
  background-color: #cc0000; /* Màu đỏ nhạt khi hover */
}

/* category */
.category-heading {
  text-align: center;
  margin-top: 20px;
  color: #333;
}

.category-form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.category-label {
  display: block;
  margin-bottom: 10px;
  color: #555;
}

.category-input {
  width: 100%;
  padding: 10px;
 margin: 10px 0px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.category-button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.category-button:hover {
  background-color: #45a049;
}
.edit-category-form {
  margin-top: 10px;
}

.edit-category-form input {
  width: 200px;
  padding: 5px;
  margin-right: 5px;
}

.edit-category-form button {
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

/* Style for the "Sửa" link */
.edit-link {
  color: #2196F3;
  cursor: pointer;
}

/* Style to hide the text when the form is visible */
.edit-category-form.active {
  display: block;
}

.category-name-text.inactive {
  display: block;
}